.container {
  --side-padding: 1rem;
  padding-top: var(--header-height);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: nowrap;
  overflow: hidden;
}

.questionContainer {
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 2px solid #ddd;
  padding: 1rem var(--side-padding);
  overflow-y: auto;
}

.speechBtn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 1;
  padding: 0.5rem;
}

.speechIcon {
  font-size: 1.3rem;
}

.answerContainer {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding: 0.5rem;
  background-color: #eee;
  position: relative;
}

.answerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.coverOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00a8e8;
  font-weight: 200;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: repeating-linear-gradient(
    -45deg,
    #111,
    #111 15px,
    #333 15px,
    #333 30px
  );
  transform: translate(0);
  transform-origin: left top;
  transition: transform 250ms;
}

.hideCoverOverlay {
  --cos-60: 0.5;
  transform: translate(-60%, calc(100% - (var(--cos-60) * 100vw))) rotate(30deg);
  transform-origin: left top;
  transition: transform 250ms;
}

:not(.hideCoverOverlay) + .answerContent {
  animation: tempHide;
  animation-duration: 260ms;
}

@keyframes tempHide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.revealedContainer {
  flex-grow: 1;
}

.word {
  font-size: 2.3rem;
  text-align: center;
}

.description {
  color: #555;
  margin-top: 0.5rem;
  text-align: center;
  line-height: 1.4;
}

.answer {
  font-size: 2rem;
  text-align: center;
}

.nextBtn {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: 700;
  color: #00a8e8;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}
