.container {
  /* 
    Because the header is not fixed correctly at the top in some 
    cases in Safari, this extra height was added to make it a 
    little taller
  */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: var(--header-background);
  color: var(--accent-color);
  transition: transform 0.2s ease-out;
  transform: translateY(0);
}

.title {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}

.hideHeader {
  transform: translateY(-100%);
}
