.progressBar {
  height: 0.25rem;
  background-color: var(--categories-item-progressBar-clr);
  border-radius: 2px;
}

.progress {
  height: 100%;
  background-color: var(--categories-item-progressBar-progress-clr);
  border-radius: inherit;
}
