.header {
  background-color: #eee;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.8rem 0;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.closeBtn {
  background-color: #eee;
  padding: 0.6rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #e53935;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.practiceOptionBtn {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0.7rem 1rem;
}

.practiceOptionBtn + .practiceOptionBtn {
  border-top: 1px solid var(--list-separator-color);
}

.practiceOptionBtn div {
  display: flex;
  align-items: baseline;
}

.wordNumber {
  flex: 1;
  font-size: 1.1rem;
  font-weight: 500;
}

.wordNumber:first-child {
  text-align: end;
}

.wordNumber:last-child {
  text-align: start;
}

.to {
  flex-basis: 3ch;
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 2rem;
}
