.container {
  --padding: 1rem;
  display: flex;
  flex-direction: column;
}

.speechBtn {
  font-size: 1rem !important;
  color: var(--word-name-clr);
}

.detailContainer {
  background-color: white;
  padding-top: calc(var(--header-height) + var(--padding));
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
}

.name {
  color: var(--word-name-clr);
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

.piyin {
  color: var(--word-piyin-clr);
  margin-top: 0.8rem;
}

.description {
  margin-top: 0.8rem;
  color: var(--word-description-clr);
}

.strokeOrderContainer {
  background-color: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  align-self: stretch;
  margin-bottom: var(--padding);
}
