.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  display: flex;
  padding: 3rem;
  transition: opacity 250ms ease-in, transform 350ms ease-in;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  transform: translateY(-100%);
  opacity: 0;
}

.dialog {
  flex: 1;
  background-color: white;
}

.open {
  opacity: 1;
  transform: translateY(0);
}
