.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  padding: 2.7rem;
  transform: translateX(100%);
  transition: opacity 100ms;
  opacity: 0;
  overscroll-behavior: contain;
}

.open {
  transform: translateX(0%);
  opacity: 1;
}

.dialog {
  background-color: white;
  border-radius: 0.3rem;
}
