.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  padding: 3.5rem 2.5rem 0.8rem 2.5rem;
  transform: translateX(100%);
  transition: opacity 100ms;
  opacity: 0;
  overscroll-behavior: contain;
}

.open {
  transform: translateX(0%);
  opacity: 1;
}

.dialog {
  max-width: 370px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #eee;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.8rem 0;
  text-align: center;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.closeButton {
  background-color: #eee;
  padding: 0.6rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #e53935;
  text-align: center;
  width: 100%;
  border: none;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}
