html {
  background-color: #eeeeee;
  font-size: 15px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow: none;
}

#root {
  height: 100%;
  overflow: none;
  -webkit-overflow-scrolling: touch;
}
